{% extends 'base.html' %}
{% block title %}Reforming Pilgrim WebApp{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reformed Pilgrim's Catechism App</h1>
        <p class="card-text">
            Daily Bible verses and weekly catechisms based on Heidelberg Catechism
        </p>
        <form action="post">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Weekly Lord's Day</option>
                <option value="1">Lord's Day 1</option>
                <option value="2">Lord's Day 2</option>
                <option value="3">Lord's Day 3</option>
                <option value="3">Lord's Day 4</option>
                <option value="3">Lord's Day 5</option>
            </select>
            <br>
            <button type="button" class="btn btn-secondary">Confirm</button>
        </form>
        <br>
    </div>
</div>
<hr>
<div class="card">
    <h2 class="card-header">Lord's Day 1</h2>
    <br>
    <div class="card-body">
        <h2 class="card-title">Q1 - What is your only comfort in life and death?</h2>
        <div class="card-text">Answer:
            <ul class="list-group list-group-flush">
                <li class="list-group-item">That I am not my own,[1]</li>
                <li class="list-group-item">but belong with body and soul, both in life and in death,[2]</li>
                <li class="list-group-item">to my faithful Saviour Jesus Christ.[3]</li>
                <li class="list-group-item">He has fully paid for all my sins with His precious blood,[4]</li>
                <li class="list-group-item">and has set me free from all the power of the devil.[5]</li>
                <li class="list-group-item">He also preserves me in such a way[6]</li>
                <li class="list-group-item">that without the will of my heavenly Father not a hair can fall from my
                    head;[7]</li>
                <li class="list-group-item">indeed, all things must work together for my salvation.[8]</li>
                <li class="list-group-item">Therefore, by His Holy Spirit He also assures me of eternal life[9]</li>
                <li class="list-group-item">and makes me heartily willing and ready from now on to live for Him.[10]
                </li>
            </ul>
        </div>
        <footer class="blockquote-footer">
            <ol class="list-group list-group-numbered">
                <li>[1] I Cor. 6:19, 20 </li>
                <li>[2] Rom. 14:7-9. </li>
                <li>[3] I Cor. 3:23; Tit. 2:14. </li>
                <li>[4] I Pet. 1:18, 19; I John 1:7; 2:2. </li>
                <li>[5] John 8:34-36; Heb. 2:14, 15; I John 3:8. </li>
                <li>[6] John 6:39, 40; 10:27-30; II Thess. 3:3; I Pet. 1:5. </li>
                <li>[7] Matt. 10:29-31; Luke 21:16-18. </li>
                <li>[8] Rom. 8:28. </li>
                <li>[9] Rom. 8:15, 16; II Cor. 1:21, 22; 5:5; Eph. 1:13, 14. </li>
                <li>[10] Rom. 8:14</li>
            </ol>
        </footer>
    </div>
    <hr>
    <div class="card-body">
        <h2 class="card-title">Q2 - What do you need to know in order to live and die in the joy of this comfort?</h2>
        <div class="card-text">Answer:
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First, how great my sins and misery are;[1]</li>
                <li class="list-group-item">second, how I am delivered from all my sins and misery;[2]</li>
                <li class="list-group-item">third, how I am to be thankful to God for such deliverance.[3]</li>
            </ul>
        </div>
        <footer class="blockquote-footer">
            <ol class="list-group list-group-numbered">
                <li>[1] Rom. 3:9, 10; I John 1:10.</li>
                <li>[2] John 17:3; Acts 4:12; 10:43.</li>
                <li>[3] Matt. 5:16; Rom. 6:13; Eph. 5:8-10; I Pet. 2:9, 10.</li>
            </ol>
        </footer>

    </div>
    <hr>
</div>
{% endblock %}