{% extends 'base.html' %}
{% block title %}CDG{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3>Coram Deo Group Material</h3>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Westminster Shorter Catechism Question 65</h4>
        <hr>
        <h5 class="card-subtitle">What is forbidden in the fifth commandment?</h5>
        <br>
        <p class="card-text">
            <span class="text-body-secondary">Answer:</span><br> The fifth commandment forbids the neglecting of, 
            or doing anything against, the honor and duty which belongs to everyone in their several places and relations.
        </p>
        <footer class="blockquote-footer">
            <ul class="list-group">
                <li class="list-group-item">
                    Matthew 15:4-6 (ESV)<br>
                    <cite>
                        <sup>4</sup>For God commanded, ‘Honor your father and your mother,’ and, ‘Whoever reviles father or mother must surely die.’ 
                        <sup>5</sup>But you say, ‘If anyone tells his father or his mother, “What you would have gained from me is given to God,” 
                        <sup>6</sup>he need not honor his father.’ So for the sake of your tradition you have made void the word of God.
                    </cite>
                </li>
                <li class="list-group-item">
                    Rom. 13:7-8 (ESV)<br>
                    <cite>
                        <sup>7</sup>Pay to all what is owed to them: taxes to whom taxes are owed, revenue to whom revenue is owed, respect to whom respect is owed, honor to whom honor is owed. 
                        <sup>8</sup>Owe no one anything, except to love each other, for the one who loves another has fulfilled the law.
                    </cite>
                </li>
            </ul>
        </footer>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Westminster Shorter Catechism Question 66</h4>
        <hr>
        <h5 class="card-subtitle">What is the reason annexed to the fifth commandment?</h5>
        <br>
        <p class="card-text">
            <span class="text-body-secondary">Answer:</span><br> The reason annexed to the fifth commandment is, 
            a promise of long life and prosperity (as far as it shall serve for God’s glory, 
            and their own good) to all such as keep this commandment.
        </p>
        <footer class="blockquote-footer">
            <ul class="list-group">
                <li class="list-group-item">
                    Deuteronomy 5:16 (ESV)<br>
                    <cite>
                        <sup>16</sup> “‘Honor your father and your mother, as the LORD your God commanded you, 
                        that your days may be long, and that it may go well with you in the land that the LORD your God is giving you.
                    </cite>
                </li>
                <li class="list-group-item">
                    Ephesians 6:2-3 (ESV)<br>
                    <cite>
                        <sup>2</sup> “Honor your father and mother” (this is the first commandment with a promise), 
                        <sup>3</sup> “that it may go well with you and that you may live long in the land.”
                    </cite>
                </li>
            </ul>
        </footer>
    </div>
</div>
<hr>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-subtitle">CDG Passage</h5>
        <p class="card-text">John 7:40-54</p>
    </div>
</div>
<hr>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">CDG Guide: Bible Reading for Common People</h5>
        <hr>
        <h6 class="card-subtitle">Lightbulb</h6>
        <p class="card-text text-body-secondary">This should be something that shines from the passage–whatever impacts or draws attention.</p>
        <br>
        <h6 class="card-subtitle">Question Mark</h6>
        <p class="card-text text-body-secondary">Anything that is difficult to understand in the text, or a question the reader would like to ask the writer or the Lord.</p>
        <br>
        <h6 class="card-subtitle">Arrow</h6>
        <p class="card-text text-body-secondary">A personal application for the reader’s life.</p>
        <br>
        <h6 class="card-subtitle">Cross</h6>
        <p class="card-text text-body-secondary">How can we see a glimpse of the glory of God and the Cross in this text? Share a reason to love and delight in Jesus more as a result of this study.</p>
        <br>
        <h6 class="card-subtitle">Speech Bubble</h6>
        <p class="card-text text-body-secondary">Share and pray for a relative or friend who might benefit from hearing about what you’ve learned today. The aim is to seek to share this with them in the week to come.
        </p>
        <hr>
    </div>
</div>
<hr>
{% endblock %}