{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="card mx-auto" style="width: 20rem;">
    <div class="card-body">
        <h3 class="card-title">About jauPy</h3>
        <p class="card-text"><small class="text-body-secondary">jau (my initials) + Py (short for Python)</small></p>
        <p class="card-text disabled">
            Created as a portfolio website for my web apps and other works.
        </p>
        <p class="card-text">
            <small>
                My social media Links:
                <ul class="list-group">
                    <li class="list-group-item"><a class="card-link" href="https://www.linkedin.com/in/jedunalivia/" target="_blank">LinkedIn</a></li>
                    <li class="list-group-item"><a class="card-link" href="https://github.com/jedoyt" target="_blank">Github</a></li>
                  </ul>
            </small>
        </p>
        <p class="card-text">
            <small>
                Portfolio quicklinks:
                <ul class="list-group">
                    <li class="list-group-item"><a class="card-link" href="{{ url_for('flames_app.matchmake') }}" target="_blank">FLAMES</a><br>A just for fun matchmaking app</li>
                    <li class="list-group-item"><a class="card-link" href="https://jaupy-basic-ocr-app.streamlit.app/" target="_blank">Basic OCR App</a><br>External app hosted at 
                        <a href="https://streamlit.io/" target="_blank">Streamlit</a> that can extract text from image documents using <a href="https://en.wikipedia.org/wiki/Tesseract_(software)" target="_blank">Google's Tesseract OCR-Engine</a></li>
                        <li class="list-group-item"><a class="card-link" href="{{ url_for('kjv_bible.index') }}" target="_blank">KJV Bible</a><br>(King James Version Bible)</li>
                    <li class="list-group-item"><a class="card-link" href="{{ url_for('core.index') }}" target="_blank">jauPy Blogs</a><br>A text-only blogging app with registration ang login functionality</li>
                    </ul>
            </small>
        </p>
    </div>
</div>
<hr class="mx-auto" style="width: 20rem;">
{% endblock %}