{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">jauPy</h1>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi consequuntur ratione nam ab dignissimos,
            exercitationem doloremque voluptatem aspernatur voluptatibus sapiente ullam expedita minus, fuga odio
            repudiandae dolorum! Totam, voluptates optio!
        </p>
    </div>
</div>
<hr>
{% endblock %}